@page
@model ASP.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Boots</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boots.BootsName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boots.BootsName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boots.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boots.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boots.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boots.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boots.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boots.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boots.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boots.Group.BootsGroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Boots.BootsId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
